<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Angular 14 In To DO app</a>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/tasks-list"
          >Show Tasks</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-task"
          >Add Task</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
